<footer>
    <div>
        <img src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="photo">
    </div>
    <div>
        <ul>
            <li>Phone number: +994705905020</li>
            <li>Git: <a href="https://github.com/Rustam-Asdanov">Rustam Asdanov</a></li>
            <li>Linked In: </li>
        </ul>
    </div>
    <div>
        <p>Made by King with <span>❤️</span></p>
    </div>
</footer>
</body>

</html>