<%- include("partials/header") -%>

<section>
  <h1>Compose</h1>
  <form action="/compose" method="post">
    <label for="title">Title</label>
    <input
      type="text"
      name="postTitle"
      id="title"
      placeholder="title (ex: sport)"
    />
    <label for="post">Post</label>
    <textarea name="postBody" id="post" placeholder="post content"></textarea>
    <button type="submit" name="button">Publish</button>
  </form>
</section>

<%- include("partials/footer") -%>
