<%- include("partials/header") -%>

<section>
  <h2>Compose</h2>
  <form action="/compose" method="post">
    <input type="text" name="postTitle" placeholder="type..." />
    <button type="submit" name="button">Publish</button>
  </form>
</section>

<%- include("partials/footer") -%>
