<%- include("header.ejs") -%>

<section>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet neque possimus
  perferendis unde consectetur repudiandae reprehenderit ex nemo voluptates.
  Quas accusantium id praesentium autem dolores rem, perferendis temporibus
  ullam iste!
</section>

<%- include("footer.ejs") -%>
