<%- include("partials/header") -%>

<section>
  <ul>
    <li>
      <h3 class="post-title"><%= post.title %></h3>
      <div>
        <p class="post-content"><%= post.content %></p>
      </div>
    </li>
  </ul>
</section>

<%- include("partials/footer") -%>
